@import "../../scss/colors.scss";

.container {
  height: 100%;
  overflow: hidden;
  background-color: $lightpurple;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 4rem 2rem;

  .title {
    font-weight: 400;
    font-size: 1.3rem;
    color: $purple;
    margin-bottom: 2rem;
    margin-top: 3.5rem;
  }

  .header {
    display: flex;
    align-items: center;
    padding: 0.75rem 3rem;
    background-color: $white;
    margin-bottom: 1rem;
    border-radius: 0.75rem;

    p {
      font-size: 0.875rem;
      text-transform: capitalize;
      font-weight: 500;
    }

    .col {
      &:nth-of-type(1) {
        margin-left: calc(2rem + 44px);
        flex: 1;
        // background-color: red;
      }

      &:nth-of-type(2) {
        flex: 1;
        // background-color: yellow;
      }

      &:nth-of-type(3) {
        flex: 1;
        // background-color: green;
      }

      &:nth-of-type(4) {
        flex: 1;
        // background-color: blue;
      }

      &:nth-of-type(5) {
        flex: 1;
        // background-color: pink;
      }
    }
  }

  .actions {
    width: 80px;
  }

  .list {
    flex: 1;
    background-color: white;
    padding: 1rem 1rem;
    border-radius: 0.75rem;
    overflow-y: scroll;

    .item {
      background-color: #fafcfe;
      width: 100%;
      padding: 0.75rem 2rem;
      border-radius: 0.75rem;
      margin-bottom: 0.75rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      .image {
        width: 44px;
        height: 44px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 2rem;
      }

      .col {
        display: flex;
        align-items: center;

        &:nth-of-type(1) {
          flex: 1;
        }

        &:nth-of-type(2) {
          flex: 1;
          // background-color: yellow;
        }

        &:nth-of-type(3) {
          flex: 1;
          // background-color: green;
        }

        &:nth-of-type(4) {
          flex: 1;
          // background-color: blue;
        }

        &:nth-of-type(5) {
          flex: 1;
          // background-color: pink;
        }
      }

      .actions {
        display: flex;
        align-items: center;
        width: 80px;

        .button {
          width: 34px;
          height: 34px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary;

          &:nth-of-type(2) {
            background-color: $error;
            margin-left: 12px;
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }

      p {
        font-size: 0.875rem;
      }
    }
  }
}
