@import "../../scss/colors.scss";
@import "../../scss/breakpoints.scss";

.container {
  height: 100%;
  overflow: hidden;
  background-color: $lightpurple;
  display: flex;
  flex-direction: column;
  padding: 0 2rem 2rem 2rem;

  .pagination {
    display: flex;
    align-items: center;
    padding: 0.5rem 0.5rem;
    background-color: $white;
    align-self: center;
    border-radius: 12px;
    margin-top: 1rem;

    .dots {
      margin: 0 0.25rem;
    }

    .button {
      min-width: 44px;
      min-height: 44px;
      border-radius: 8px;
      background-color: #fafcfe;
      margin: 0 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 0.5rem;

      p {
        font-size: 0.875rem;
        color: $grey;
      }

      &:disabled {
        cursor: not-allowed;
      }
    }
  }

  .title {
    font-weight: 400;
    font-size: 1.3rem;
    color: $purple;
    margin-bottom: 2rem;
    margin-top: 3.5rem;
  }

  .no-users {
    margin-top: 5rem;

    p {
      text-align: center;
    }
  }

  .actions {
    width: 80px;
  }

  .list {
    flex: 1;
    background-color: white;
    padding: 0rem 1rem;
    border-radius: 0.75rem;
    overflow-y: scroll;
    position: relative;

    .item {
      background-color: #fafcfe;
      width: 100%;
      width: fit-content;
      padding: 0.75rem 1rem;
      border-radius: 0.75rem;
      margin: 0 0.5rem 0.75rem 0.5rem;
      display: flex;
      align-items: center;
      cursor: pointer;

      .image {
        width: 44px;
        height: 44px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 2rem;
      }

      .col {
        display: flex;
        align-items: center;
        min-width: 120px;
        flex: 1;
      }

      .lg {
        flex: 1.5;
        min-width: 180px;
      }

      .actions {
        display: flex;
        align-items: center;
        width: 80px;

        .button {
          width: 34px;
          height: 34px;
          border-radius: 8px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $primary;

          &:nth-of-type(2) {
            background-color: $error;
            margin-left: 12px;
          }

          &:disabled {
            opacity: 0.5;
            cursor: not-allowed;
          }
        }
      }

      p {
        font-size: 0.875rem;
      }
    }

    .header {
      margin: 2rem 1rem;
      position: sticky;
      left: 0;
      top: 1rem;
      z-index: 10;
      transition: all 0.2s ease-in-out;

      .actions,
      .col {
        p {
          font-size: 0.875rem;
          text-transform: capitalize;
          font-weight: 500;
        }
      }
    }
  }

  @include md {
    .list {
      padding: 0rem 1rem;

      .item {
        margin: 0 1rem 0.75rem 1rem;
        padding: 0.75rem 2rem;
        width: calc(100% - 2rem);

        .col {
          min-width: 10px;
        }

        .lg {
          min-width: 10px;
        }
      }
      .header {
        margin: 1rem 1rem;
      }
    }

    .pagination {
      .dots {
        margin: 0 0.5rem;
      }

      .button {
        margin: 0 0.5rem;
      }
    }
  }
}
