@import "../../scss/breakpoints.scss";
@import "../../scss/colors.scss";

.container {
  height: 100%;
  background-color: $white;
  display: flex;

  .left-content {
    display: flex;
    flex-direction: column;
    background-color: $white;
    width: 0%;
    display: none;
    padding: 3rem 1rem 3rem 1.5rem;

    .row-item {
      width: 100%;
      height: 45px;
      border-radius: 6px;
      display: flex;
      align-items: center;
      padding: 1rem 1rem;
      margin-bottom: 0.75rem;
      cursor: pointer;
      // background-color: aqua;

      p {
        font-size: 1rem;
        color: $darkgrey;
        margin-left: 0.75rem;
        margin-top: 0.25rem;
      }

      &:hover {
        opacity: 0.8;
      }
    }

    .footer {
      margin-top: auto;
    }

    @include sm {
      width: 0%;
      display: none;
    }

    @include md {
      width: 30vw;
      display: flex;
    }

    @include lg {
      width: 20rem;
    }

    @include xl {
      width: 20rem;
    }
  }

  .right-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: $lightpurple;

    @include sm {
      width: 100%;
    }

    @include md {
      width: 70vw;
    }

    @include lg {
      width: calc(100vw - 20rem);
    }

    @include xl {
      width: calc(100vw - 20rem);
    }
  }
}
